In [35]:
# Dependencies
import numpy as np
import datetime as dt
import calendar
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [36]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [37]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [38]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [39]:
#  3. Convert the June temperatures to a list.
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [40]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June = pd.DataFrame(june_results)
print(June)

            date  tobs
0     2010-06-01  78.0
1     2010-06-02  76.0
2     2010-06-03  78.0
3     2010-06-04  76.0
4     2010-06-05  77.0
...          ...   ...
1695  2017-06-26  79.0
1696  2017-06-27  74.0
1697  2017-06-28  74.0
1698  2017-06-29  76.0
1699  2017-06-30  75.0

[1700 rows x 2 columns]

In [41]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June = June.rename(columns={"tobs":"June Temps"})
June.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [42]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [43]:
# 7. Convert the December temperatures to a list.
Dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [44]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
December = pd.DataFrame(Dec_results)
print(December)

            date  tobs
0     2010-12-01  76.0
1     2010-12-03  74.0
2     2010-12-04  74.0
3     2010-12-06  64.0
4     2010-12-07  64.0
...          ...   ...
1512  2016-12-27  71.0
1513  2016-12-28  71.0
1514  2016-12-29  69.0
1515  2016-12-30  65.0
1516  2016-12-31  65.0

[1517 rows x 2 columns]

In [45]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
December = December.rename(columns={"tobs":"December Temps"})
December.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [47]:
# Precipitation for June
# Write a query that filters the Measurement table to retrieve the precipitation numbers for the month of June. 
june_rain_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

# 4. Create a DataFrame from the precipitation for the month of June. 
June_rain = pd.DataFrame(june_rain_results)

# 5. Calculate and print out the summary statistics for the June precipitation DataFrame.
June_rain = June_rain.rename(columns={"prcp":"June precipitation"})
June_rain.describe()

            date  prcp
0     2010-06-01  0.00
1     2010-06-02  0.01
2     2010-06-03  0.00
3     2010-06-04  0.00
4     2010-06-05  0.00
...          ...   ...
1695  2017-06-26  0.02
1696  2017-06-27  0.10
1697  2017-06-28  0.02
1698  2017-06-29  0.04
1699  2017-06-30  0.20

[1700 rows x 2 columns]

       June precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [49]:
# Precipitation for December
# Write a query that filters the Measurement table to retrieve the precipitation numbers for the month of December. 
Dec_rain_results = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()

# 4. Create a DataFrame from the precipitation for the month of June. 
Dec_rain = pd.DataFrame(Dec_rain_results)

# 5. Calculate and print out the summary statistics for the June precipitation DataFrame.
Dec_rain = Dec_rain.rename(columns={"prcp":"December precipitation"})
Dec_rain.describe()

       December precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000